// Color Variables

$primary_color: #007bff;
$primary_hover_color: darken($primary_color, 10%);
$success_color: #28a745;
$success_hover_color: darken($success_color, 10%);
$title_color: #333;
$bg_color: wheat;


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1 {
        color: $primary_hover_color;
    }

    h4 {
        color: #666;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th,
        td {
            padding: 12px;
            border: 1px solid #ccc;
            text-align: left;

            th {
                background-color: #f0f0f0;
                color: #333;
            }
        }
        /* tr:nth-child(even) {
            background-color: #f9f9f9;
        } */
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: $primary_color;
        padding: 8px 16px;
        border-radius: 20px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $primary_hover_color;
            color: #fff;
        }
    }

    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 5px;
    }

    #btn_add {
        background-color: $success_color;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $success_hover_color;
        }
    }

    
}