<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static",filename="styles.css")}}" />
    <title>My App</title>
</head>

<body>
    <div>
        <h1>Welcome to my App</h1>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem vero, pariatur assumenda harum dolorem
            molestiae suscipit perferendis unde debitis veritatis repellendus placeat aliquam quia officiis provident
            reiciendis alias corporis excepturi.</p>
    </div>
</body>

</html>